n8n_cdio.json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "cdio2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1152,
        -224
      ],
      "id": "893ae45d-a165-4d4a-8972-93cc9e71e044",
      "name": "Webhook",
      "webhookId": "1eb7709a-b517-489b-bf9e-518494bcfadb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d58c9aa0-8132-47f3-bc4a-c10456df8f5c",
              "name": "id khách",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "dc31c679-2ffc-4ca6-a3f5-2f9eb58012bb",
              "name": "id page",
              "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "aa190287-c7bd-43cc-93c6-58c70c3eed53",
              "name": "nd tin nhắn",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -128
      ],
      "id": "ed739e02-6141-456c-8242-f0c46ac87bdf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -816,
        -304
      ],
      "id": "c0e60573-2623-4dd1-81e8-49b3d4d69536",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const fullText = $input.first().json.output; \nconst recipientId = $('Edit Fields').first().json['id khách']; \nconst chunks = []; \nfor (let i = 0; i < fullText.length; i += 1890) { \n  chunks.push({ json: { recipient: { id: recipientId }, \n                       messaging_type: \"RESPONSE\", \n                       message: { text: fullText.slice(i, i + 1890) } \n                      } \n              }); \n} \nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -128
      ],
      "id": "c8e292a1-6c80-4e23-bdd7-cdd19a69231e",
      "name": "Code",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['nd tin nhắn'] }}",
        "options": {
          "systemMessage": "=SYSTEM:\nBạn đang đóng vai chatbot tư vấn tuyển sinh của Đại học Duy Tân. \nBạn cần hiểu một số từ khóa sau để giải thích đúng mã ngành và chương trình:\nCMU: Carnegie Mellon University\nPSU: Pennsylvania State University\nCSU: California State University\nPNU: Purdue Northwest University\nHP: Chương trình Tài năng\nVJJ: Chương trình Việt Nhật\nTROY: Chương trình Du học tại chỗ lấy bằng Đại học Troy (Mỹ)\n\nHƯỚNG DẪN TRẢ LỜI:\n - Nếu câu trả lời dài, hãy chia thành nhiều phần với tiêu đề [Phần 1/3], [Phần 2/3], … mỗi phần ≤1500 ký tự\n- Nếu người dùng hỏi về tổng số nhóm ngành hoặc các nhóm ngành đào tạo thì chỉ trả lời có bao nhiêu nhóm ngành, sau đó liệt kê tên các nhóm ngành lớn (ví dụ: Công nghệ thông tin, Khoa học máy tính, Cơ khí, Xây dựng, Y tế,...).\n- Chỉ khi nào người dùng yêu cầu liệt kê chi tiết ngành trong một nhóm ngành thì mới đưa ra danh sách các ngành cụ thể, nếu user yêu cầu là thiệt kê theo các chuyên ngành cụ thể thì liệt kê ra hết các nguyên ngành đào tạo cụ thể.\n- Nếu người dùng hỏi dạng yes/no (có hay không) thì trả lời “có” hoặc “không”, sau đó hỏi thêm “Bạn có muốn mình tư vấn chi tiết hơn không?”.\n- Khi cần giải thích thông tin về mã ngành hay chương trình, chỉ sử dụng văn bản thuần (plain text).\n\nQUY ĐỊNH ĐỊNH DẠNG:\n- Tuyệt đối KHÔNG sử dụng định dạng Markdown (bao gồm *, -, +, #, _).\n- Tuyệt đối KHÔNG tạo bullet list hoặc numbering tự động.\n- Nếu cần xuống dòng, chỉ sử dụng ký tự xuống dòng (\\n).\n- Trả lời ngắn gọn, đúng trọng tâm.\n\nUSER PROMPT:\n{{ $json[\"user_input\"] }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -592,
        -128
      ],
      "id": "2c67f1ae-ecd8-4b01-817a-c12778a24e18",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['id khách'] }}",
        "contextWindowLength": 100000000000000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        80
      ],
      "id": "dc66ccd4-81bf-40d9-88f5-c3a176cd0aef",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "nguyendangthinhit",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=SIC__BD_03",
          "mode": "name"
        },
        "filePath": "SIC_BD_03/data/clean_data_2.json",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": ""
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        -16,
        304
      ],
      "id": "ed20a0d3-3e1c-41f3-8b8a-fd5605d415f1",
      "name": "Get a file in GitHub",
      "webhookId": "78574644-8d62-47f8-9543-7ac781789167",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "nguyendangthinhit",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "SIC__BD_03",
          "mode": "name"
        },
        "filePath": "SIC_BD_03/data/data_web.json",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "data"
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        -176,
        288
      ],
      "id": "20e0a8a4-19a3-4f4e-9fac-681d98eaad95",
      "name": "Get a file in GitHub1",
      "webhookId": "78574644-8d62-47f8-9543-7ac781789167",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -688,
        80
      ],
      "id": "88f7d30d-df76-40eb-a521-4bcee7c49f86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eh2j2FyuQ3cwvzH8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Dữ liệu chi tiết về các chuyên ngành trong kỳ tuyển sinh đại học Duy Tân 2025(cột Mã CN là Mã chuyên ngành)",
        "documentId": {
          "__rl": true,
          "value": "1xxiiY9QxWfQpZHdfueUThpLk7jgnasxT3EZMJ9Xwlnk",
          "mode": "list",
          "cachedResultName": "chi_tiet_nganh_dtu_2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxiiY9QxWfQpZHdfueUThpLk7jgnasxT3EZMJ9Xwlnk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1777738509,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxiiY9QxWfQpZHdfueUThpLk7jgnasxT3EZMJ9Xwlnk/edit#gid=1777738509"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -64,
        80
      ],
      "id": "1ffba475-7862-475e-9e8e-58ca7f205eec",
      "name": "Chi_tiet_chuyen_nganh_2025",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hlPL8botzeqOkOou",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Các môn học trong các tổ hợp xét tuyển",
        "documentId": {
          "__rl": true,
          "value": "1Zu6GmTJB8lsbN2Xy1tjbFe4uR5GGahmAPevjs3wLTCk",
          "mode": "list",
          "cachedResultName": "to_hop_xet_tuyen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zu6GmTJB8lsbN2Xy1tjbFe4uR5GGahmAPevjs3wLTCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 79809833,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zu6GmTJB8lsbN2Xy1tjbFe4uR5GGahmAPevjs3wLTCk/edit#gid=79809833"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        80,
        80
      ],
      "id": "7fe5cdb2-f961-4490-a8b0-f62c311e09cd",
      "name": "To_hop_xet_tuyen",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hlPL8botzeqOkOou",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Đây là thông tin liên lạc của các chuyên viên tư vấn của trang tuyển sinh",
        "documentId": {
          "__rl": true,
          "value": "13MCB8oUgomK-p5ZEEShMzZNGFnGQufiXexpewLuVJ_8",
          "mode": "list",
          "cachedResultName": "chuyen_vien_tu_van",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13MCB8oUgomK-p5ZEEShMzZNGFnGQufiXexpewLuVJ_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13MCB8oUgomK-p5ZEEShMzZNGFnGQufiXexpewLuVJ_8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -240,
        64
      ],
      "id": "d61ac658-795c-4225-a877-d9c7df1c350f",
      "name": "chuyen_vien_tu_van",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hlPL8botzeqOkOou",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Đây là thông tin về đối tượng ưu tiên để xét điểm cộng. Có các Nhóm ưu tiên theo đối tượng: UT1(gồm các đối tượng 1-4), UT2(gồm các đối tượng 5-7); các nhóm ưu tiên theo khu vực: KV1, KV2, KV2-NT, KV3; còn lại là các trường hợp đặc biệt tùy thuộc vào thông tin được sender cung cấp sẽ kết luận người đó thuộc nhóm nào",
        "documentId": {
          "__rl": true,
          "value": "1YMhFi0xn0TImzKEWUAhQP4CzP69cKpzQfr5XwGhjcgk",
          "mode": "list",
          "cachedResultName": "doi_tuong_uu_tien",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YMhFi0xn0TImzKEWUAhQP4CzP69cKpzQfr5XwGhjcgk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YMhFi0xn0TImzKEWUAhQP4CzP69cKpzQfr5XwGhjcgk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -400,
        80
      ],
      "id": "086be02c-eaf9-4f45-ab3b-d27eca80c863",
      "name": "doi_tuong_uu_tien",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hlPL8botzeqOkOou",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages?access_token=EAAKiLjdsBY0BPWWU1p2EWnCoc78MVK78AUxywcZBt7E475Cxgxk3iLyxbXvZC5WJnK4jzYvT2LuLIdPBFxyfXOHZCdJZCYuLPlHMpI1sw3xkZBBctRDSGxZB7jQ1kUpwpgtVDgoxNVOwf5aPPI9fEX9wUedKYuJEFUvAhgN6HWQ5dQBkcgZCdr2deWKyAzXVlZBgRWKBhwZDZD",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"recipient\": { \"id\": $(\"Edit Fields\").item.json[\"id khách\"] }, \"messaging_type\": \"RESPONSE\", \"message\": { \"text\": $json.message.text } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -128
      ],
      "id": "d579b6e1-3600-444c-900f-31b4a8788405",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Webhook": []
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a file in GitHub": {
      "ai_tool": [
        []
      ]
    },
    "Get a file in GitHub1": {
      "ai_tool": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chi_tiet_chuyen_nganh_2025": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "To_hop_xet_tuyen": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "chuyen_vien_tu_van": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "doi_tuong_uu_tien": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21d82a4c-d4b9-4b4d-9719-de3308d02e25",
  "meta": {
    "templateId": "self-building-ai-agent",
    "instanceId": "9409d663f215cba210b1dc52e14cec3c75c30ce15e090e90c85c823dfd460baa"
  },
  "id": "ApcekepqEKpK3piu",
  "tags": []
}